@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  text-decoration: none !important;
}

body {
  background: #000000 !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  overflow-x: hidden;
}

:root {
  /* FONT-SIZE */
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 40px;
  --font-xl: 48px;
  --font-2xl: 72px;
  --font-3xl: 100px;
  /* COLOR */
  --color-blue: #2568b2;
  --color-black: #121212;
  --color-white: #fcfcfc;
  --color-whiteoff: #f9f9f9;
  --color-white3: #fafafa;
  --color-orange: #f39120;

}

/* COLOR */
.text_white {
  color: var(--color-white) !important;
}

.text_whiteoff {
  color: var(--color-whiteoff) !important;
}

.text_white3 {
  color: var(--color-white3) !important;
}

.text_blue {
  color: var(--color-blue) !important;
}

.text_orange {
  color: var(--color-orange) !important;
}

.bg_light_black {
  background-color: var(--color-black) !important;
}

/* ============FONT SIZE============== */
.font_xs {
  font-size: var(--font-xs);
}

.font_sm {
  font-size: var(--font-sm);
}

.font_md {
  font-size: var(--font-md);
}

.font_lg {
  font-size: var(--font-lg);
}

.font_xl {
  font-size: var(--font-xl);
}

.font_2xl {
  font-size: var(--font-2xl);
}

.font_3xl {
  font-size: var(--font-3xl);
}

/* FONT-FAMILY */
.ff_lato {
  font-family: "Lato", sans-serif !important;
}

/* MEDIA-QUERY-START */
@media (max-width: 1399.98px) {
  :root {
    --font-2xl: 67px;
    --font-3xl: 87px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-2xl: 61px;
    --font-3xl: 65px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xl: 44px;
    --font-2xl: 52px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xl: 41px;
    --font-3xl: 69px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 14px;
    --font-md: 18px;
    --font-lg: 30px;
    --font-xl: 38px;
    --font-2xl: 42px;
    --font-3xl: 46px;
  }
}

/* MEDIA=QUERY-END */
/* COMMON */
.opacity_03 {
  opacity: 0.3;
}

.opacity_05 {
  opacity: 0.5;
}

.opacity_06 {
  opacity: 0.6;
}

.opacity_07 {
  opacity: 0.7;
}

/* Z-INDEX */
.Z_index_1 {
  z-index: 1;
}

.z_index_5 {
  z-index: 5 !important;
}

/* COMMON-BTN */
.common_btn {
  background: var(--color-blue);
  padding: 16px 49px;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  backdrop-filter: blur(96.5px);

}

.common_btn:hover {
  background-color: var(--color-orange);
}

/* TEAM */
.team_box_hover h2 {
  transition: all 0.3s linear;
}

.team_box_hover img {
  transition: all 0.3s linear;
}

.team_box_hover:hover img {
  transform: scale(1.1);
}

.team_box_hover:hover h2 {
  color: #f39120 !important;
}

/* OUR_STORY */
.blueshadow_position::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 56px;
  width: 470px;
  height: 495px;
  border-radius: 259.5px 259.5px 30px 30px;
  background: linear-gradient(180deg, #0069FF 0%, rgba(0, 105, 255, 0.00) 100%);

}

@media (min-width: 1200px) and (max-width: 1600px) {
  .custom_container {
    max-width: 1140px !important;
  }

  .vision_position_img {
    right: -10% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .vision_position_img {
    width: 85%;
  }
}

@media (min-width: 576px) {
  .mission_img_1 {
    width: 62% !important;
  }

  .mission_img_2 {
    width: 37.7% !important;
  }
}

@media (min-width: 992px) {
  .vision_position_img {
    position: absolute;
    right: -4% !important;
    top: -11%;
    z-index: -1;
  }

  .max_w_865 {
    max-width: 865px;
  }

  .max_w_742 {
    max-width: 742px;
  }

}

@media (min-width:1400px) {
  .vision_position_img {
    position: absolute;
    right: 3% !important;
    top: -11%;
    z-index: -1;
  }
}

@media (max-width: 1199.98px) {
  .blueshadow_position::after {
    left: 6px;
    bottom: 65px;
    width: 393.139px;
    height: 394px;
  }
}

@media (max-width: 991.98px) {
  .vision_position_img {
    width: 100%;
  }

  .blueshadow_position::after {
    left: 6px;
    bottom: 57px;
    width: 393.139px;
    height: 394px;
  }
}

@media (max-width:767.98px) {
  .blueshadow_position::after {
    left: -1px;
    bottom: 47px;
    width: 307.139px;
    height: 307px;
  }
}

@media (max-width:575.98px) {
  .blueshadow_position::after {
    display: none !important;
  }
}